$color-primary: hsl(241, 81%, 54%);
$color-primary-gradient: hsl(252, 100%, 67%);

$color-circle-gradient: hsla(241, 72%, 46%, 0);
$color-circle: hsla(256, 72%, 46%, 1);

$color-White: hsl(0, 0%, 100%);
$color-Pale-blue: hsl(221, 100%, 96%);
$color-Light-lavender: hsl(241, 100%, 89%);
$color-Dark-gray-blue: hsl(224, 30%, 27%);

//
$color-btn: #344375;
